span.facePageOpen {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}
span.facePageHeader {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: maroon;
}