/* main styles */

* {
    background-color: #ededed; 
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex; 
    align-content: center; 
    justify-content: center; 
    margin: 3px; 
    padding: 3px;  
    flex-direction: column; 
}

nav {
  overflow: hidden; 
  background-color: #0078D7;
  width: 100%;
  height: 80px; 
  margin: 0; 
  padding: 0; 
  box-shadow: 0px 0px 10px 0px #0078D7; 
}

.topHead{
  color: white; 
  font-size: 30px;
  text-align: center; 
}

p {
  flex-direction: row;
}

.buttonNotes{
  color: darkslategrey;
}
.buttonNotes:hover{
  color: black; 
}

.blurredElement {
  filter: blur(5px); 
}



