/* main styles */
* {
    background-color: white; 
    color: black;
    font-family: 'Times New Roman';
    display: flex; 
    align-content: center; 
    margin: 10px; 
    flex-direction: column; 
}

.bar{
    background-color: black;
}
p{
    flex-direction: row;
}

.buttonReset:hover{
    background-color: lightgrey; 
}
.buttonReset:active{
    background-color: darkgrey; 
}

.buttonRed:hover {
    background-color: lightcoral; 
}

.buttonRed:active{
    background-color: red;
}

.buttonBlue:hover {
    background-color: lightblue;
}

.buttonBlue:active {
    background-color: darkblue; 
}

.buttonLayout:notes {
    background: linear-gradient(grey, blue); 
}

/* button layout stuff */ 
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 34px;
    outline-color: black; 
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 34px; 
    width: 100px; 
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider.face{
    background-color: lightblue;
  }

  .slider.slouch{
      background-color: mediumvioletred; 
  }

  .slider.slouch:before {
    background-color: lightpink;
  }
  .slider.slouch:after{
      background-color: mediumvioletred; 
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color:#0078D7;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  /* face slider */ 
  input:checked + .slider.face {
    background-color:darkblue;
  }
  input:focus + .slider.face {
    box-shadow: 0 0 1px darkblue;
  }

  /* slouch slider */

  input:checked + .slider.slouch {
    background-color: maroon;
  }
  input:focus + .slider.slouch {
    box-shadow: 0 0 1px maroon; 
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(66px);
    -ms-transform: translateX(66px);
    transform: translateX(66px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 45px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
  .slider.round:after{
    border-radius: 50%;
  }

  /* facepage */
  
 