/* main styles */

* {
    background-color: #ededed;
    color: black;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body * {
    margin: 3px;
    padding: 3px;
}

body {
    padding: 0px;
    margin: 0px;
    width: 390px;
    box-sizing: border-box;
    overflow-x: hidden; 
    overflow-y: visible; 
    align-content: center;
    justify-content: center;
    display: flex; 
}

nav {
    display: flex; 
    background-color: #0078D7;
    width: 100%;
    height: 80px;
    margin: 0px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center; 
    justify-content: center; 
    color: white;
    font-size: 25px;
    text-align: center;
    justify-content: center;
}

/* for the titles on the pages */
h1 {
    font-style: normal;
    font-size: 15px;
    align-content: center;
    text-align: left; 
    font-weight: 500; 
    font-weight: 600; 
    font-size: 17px; 
}

h2 {
    font-style: normal;
    font-size: 15px;
    align-content: center;
    font-weight: 500; 
}

/* calibrate button */
button {
    border-radius: 12px; 
    font-size: 15px; 
    background-color: white; 
    width: 88%; 
    align-items: center;
    box-shadow: none; 
    outline: none; 
    border: none; 
}

button:hover {
    background-color:#d7d7d7;
}
    
button:active{
    background-color: #0078D7; 
    color: white; 
}

/* for the main text excluding nav */
main {
    margin: 10px;
    padding: 2px;
}

.info {
    line-height: 160%; 
    height: 110px; 
    overflow: visible;  
}

p {
    flex-direction: row;
}

.paragraphHeader{
    font-size: 18px; 
}


.infoPageFeatures {
    color: darkslategrey;
    font-weight: 500; 
    font-style: normal; 
    font-size: 15px; 
}

.infoPageFeatures:hover {
    color: black;
}

.blurredElement {
    filter: blur(5px);
}

.gridContainer {
    display: grid; 
    grid-column-gap: 20px; 
    grid-row-gap: 5px; 
}

.gridItem {
    display: flex; 
    justify-content: center;
    align-items: center; 
}

#item1 {
    grid-column-start: 1; 
    grid-column-end: 5; 
    grid-row-start: 1; 
    grid-row-end: 1; 
}
#item2 {
    grid-column-start: 1; 
    grid-column-end: 3; 
    grid-row-start: 2; 
    grid-row-end: 2; 
}

#item3 {
    grid-column-start: 3; 
    grid-column-end: 5; 
    grid-row-start: 2; 
    grid-row-end: 2; 
}

/*
    SLIDERS 
*/

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 34px;
    outline-color: black;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
    width: 70px;
    -webkit-transition: .5s;
    transition: .5s;
}

.slider:hover {
    background-color:#d7d7d7;
}
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 7px;
    bottom: 7px;
    background-color: #0078D7;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider{
    background-color: white;
}

.slider:before{
    background-color: #0078D7;
}

input:checked + .slider {
    background-color:#0078D7;
}

input:checked + .slider:before{
    background-color: white; 

}

/* all sliders coloring - switches to blue background on the next page  */
.slider.back{
    background-color:#0078D7;
}

.slider.back:before{
    background-color: white;
}

input:checked + .slider.back {
    background-color: white;
}

input:checked + .slider.back:before{
    background-color:#0078D7;
  }

/* moves slider */
input:checked+.slider:before {
    -webkit-transform: translateX(38px);
    -ms-transform: translateX(38px);
    transform: translateX(38px);
}

/* rounds slider elements */
.slider.round {
    border-radius: 45px;
}

.slider.round:before {
    border-radius: 50%;
}
