/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 34px;
    outline-color: black;
}

/* Hide default HTML checkbox */

.switch input {
    display: none;
}

/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
    width: 70px;
    -webkit-transition: .5s;
    transition: .5s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 7px;
    bottom: 7px;
    background-color: #0078D7;
    -webkit-transition: .4s;
    transition: .4s;
}

/* face slider */ 
.slider{
    background-color: white;
}

.slider:before{
    background-color: #0078D7;
}

input:checked + .slider {
    background-color:#0078D7;
}

input:checked + .slider:before{
    background-color: white; 

}

/* all sliders coloring - switches to blue background on the next page  */


.slider.back{
    background-color:#0078D7;
}

.slider.back:before{
    background-color: white;
}

input:checked + .slider.back {
    background-color: white;
}

input:checked + .slider.back:before{
    background-color:#0078D7;
  }

/* moves slider */

input:checked+.slider:before {
    -webkit-transform: translateX(38px);
    -ms-transform: translateX(38px);
    transform: translateX(38px);
}

/* creating rounded sliders */

.slider.round {
    border-radius: 45px;
}

.slider.round:before {
    border-radius: 50%;
}
